#banner {
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input{
  height: 25px;
  width: 350px;
  border: 0px
}
div.SearchBox {
  position: absolute;
  left: 50%;
  top: 67%;
  transform: translate(-50%, -67%);
  border: 1px black solid;
  }
#voicesearch{
    padding: 5px 5px 5px 5px;
  }

  